<a href="https://colab.research.google.com/github/davidmena1239/AIS-Python-Workshop/blob/main/Intro_Python_Workshop(Spring_2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Welcome to our beginner Python Workshop!

###Comments

In [ ]:
#Single Line Comments
#To make a single-line comment, begin the line with a '#' key. Anything after the # will be considered a comment if it's on the line
#Doing this will not affect the output of your code

#Multi Line Comments or Doc Strings

""" """ or ''' '''
''' To make multi-line comments,
use three quotation marks  
at the start and the end of your notes '''

#Example:

  #This is a single line comment

'''This is 
    a multi 
    line comment'''

'This is \n    a multi \n    line comment'

##The print function and data types
##Data Type 1 - Strings ('str')

In [ ]:
#This line of code is outputting a 'string' or 'str' data type.
#Strings MUST be encapsulated with quotations "" or ''

print("Hello World")

#We may check the data type being used with the type() function 

print(type("Hello World"))

#The following would also be considered strings

print(type("I love AIS"))
print(type("Baruch student's are smart")) #Note: Sometimes you want to use words with apostrophes, so use double quotes instead of a single quotes 
print(type("AIS is the best"))

Hello World
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

## Data Type 2 - Integers ('int')

In [ ]:
#Integers refer to counting numbers (i.e 0, 1, 2...) and negative #numbers (i.e. -3, -2, -1, ) with NO decimals
#They DO NOT need to be encapsulated in quotations
#Below is an example of a integer

print(55)
print(type(55))
print(-55)
print(type(-55))

55
<class 'int'>
-55
<class 'int'>

##Data Type 3 - Floats ('float')

In [ ]:
''' Floats refer to numbers (positve and negative) which contain decimals
Like integers, they DO NOT need to be encapsulated in quotations '''

print(69.9)
print(type(69.9))
print(24.0)
print(type(24.0))


#Fractions are considered floats REGARDLESS of whether they have a remainder or not

print(-69/9)
print(type(-69/9))

#Note that if you divide two integers the result will ALWAYS be a FLOAT!

print(30/10)
print(type(30/10))

#Remember: any numbers encapsultated in parenthesees ("" or '') are STRINGS
#For example:

print("69.9")
print(type("69.9"))

69.9
<class 'float'>
24.0
<class 'float'>
-7.666666666666667
<class 'float'>
3.0
<class 'float'>
69.9
<class 'str'>

## Data Type 4- Booleans ('bool')

In [ ]:
'''Booleans can either refer to the words True or False
They DO NOT need to be encapsulated in quotation marks
 '''

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
#Boolean Expressions

print((1 == 1))

print((1 != 1)) #Note: != is refers to 'not equal'

print((2 > 1)) 

print((2.0 <= 3.0))

print(("AIS" == "AS"))

True
False
True
True
False

##If Statements

In [ ]:
#Booleans can be used in conditional statements called If statements

if 1 == 1:
  print("This statement is true!")

This statement is true!

In [ ]:
#This won't run because the condition isn't met.

if 1 != 1: 
  print("This statement is false!")

##If-Else Statements

In [ ]:
if 1 == 1:
  print('This statement is true!')
else:
  print("This statement is false!")

This statement is true!

In [ ]:
if 1 != 1:
  print('This statement is true!')
else:
  print("This statement is false!")

This statement is false!

##If-Elif-Else Statements

In [ ]:
#What happens if you wanna test multiple conditions?

if "David" == "Efaz":
  print("David is Efaz")
elif "David" == "Emily":
  print("David is Emily")
elif "David" == "Christian":
  print("David is Christian")
else:
  print("David is David")

#Because David isn't Efaz, Emily, or Christian. The statements return David is David

David is David

## Mathematical Operations

In [ ]:
# (+) Addition

print(1+1)

2

In [ ]:
# (-) Subtraction

print(2-1)

1

In [ ]:
# (/) Division

print(3/2)

1.5

In [ ]:
# (*) Multiplication

print(4*2)

8

In [ ]:
# (%) Modulus (Remainder) - This will divide the two numbers and return the remainder

print(10 % 3)

1

In [ ]:
# (**) Exponent - Two multiplication operators make an exponent operator

print(5**2)

25

## Variables

In [1]:
'''
Can be any type (Float, string, int, etc.)

The left side is the variable and the right side is the value we want to assign to the variable.

Rules of variables 
1. Don't make variables keywords (ex. if, else, return, True, etc) You can look up list of python keywords for more examples.

2. Your variable name must start with a letter from a-z, A-Z, or an underscore character. (NO numbers in the beginning of your variable name)

3. Make variable names that make sense with what's being assigned to them (ex. BondPrice, CapRate) 

4. Variables are case sensitive (Apple is NOT the same as apple)

5. A variable name CANNOT contain spaces 
'''

"\nCan be any type (Float, string, int, etc.)\n\nThe left side is the variable and the right side is the value we want to assign to the variable.\n\nRules of variables \n1. Don't make variables keywords (ex. if, else, return, True, etc) You can look up list of python keywords for more examples.\n\n2. Your variable name must start with a letter from a-z, A-Z, or an underscore character. (NO numbers in the beginning of your variable name)\n\n3. Make variable names that make sense with what's being assigned to them (ex. BondPrice, CapRate) \n\n4. Variables are case sensitive (Apple is NOT the same as apple)\n\n5. A variable name CANNOT contain spaces \n"

In [ ]:
#Examples of variables

ex = "word"
print(ex)
print(type(ex))

word
<class 'str'>

In [ ]:
ex2 = 4.0
print(ex2)
print(type(ex2))

4.0
<class 'float'>

In [ ]:
width = 10
length = 5 
area = width * length

print(area)
print(type(area))

50
<class 'int'>

In [ ]:
#You can also redefine variables 

var1 = 3.0
print(var1)

3.0

In [ ]:
var1 = 3.5
print(var1)

3.5

In [ ]:
#We can reassign variables to another data type. This can be done with casting 
#5 is an integer, but lets turn it into a float

ex3 = 5
print(type(ex3))
print(ex3)

<class 'int'>
5

In [ ]:
ex4 = float(ex3)
print(type(ex4))
print(ex4)

<class 'float'>
5.0

In [ ]:
#Another example
num = 55
print(type(num))
print(num)

<class 'int'>
55

In [ ]:
num2 = str(num)
print(type(num2))
print(num2)

<class 'str'>
55

In [ ]:
#You can also do this without variables

print(type(4))
print(type(str(4)))

<class 'int'>
<class 'str'>

In [ ]:
print(type(10.45))
print(type(int(10.45)))

<class 'float'>
<class 'int'>

In [ ]:
print(bool("Hi"))

print(type(bool("Hi")))

print(bool(""))

True
<class 'bool'>
False

In [ ]:
print(bool(10.323234))

print(type(bool(0)))

print(bool(0))

True
<class 'bool'>
False

In [ ]:
print(type(True))

print(str(True))

print(type(str(True)))

<class 'bool'>
True
<class 'str'>

In [ ]:
print(type(True))

print(float(True))

print(type(float(True)))

<class 'bool'>
1.0
<class 'float'>

In [ ]:
print(type(False))

print(int(False))

print(type(int(False)))

<class 'bool'>
0
<class 'int'>

In [ ]:
#It won't work for some things, like you can't change a string into an integer unless it's a number in the string

print(type(int("David")))

ValueError: ignored

In [ ]:
#This will work because there's a number in the string

print(int("55"))

print(type(int("55")))

55
<class 'int'>

##Input function

In [ ]:
#Input functions allows a user to input information into our program. 

input("Enter your first and last name: ")

Enter your first and last name: David Mena

'David Mena'

In [ ]:
#We'll be able take this information, assign it to a variable, and then do something with that variable.

name = input("Enter your first and last name: ")

print("Hey " + name + "!")

Enter your first and last name: David Mena
Hey David Mena!

In [ ]:
'''The print statement above uses concatenation to combine the elements. 
NOTE: You can only concatenate a string with another string. 
For example, if I want to combine a variable that holds an integer with a string, it will give me an error. '''

print("David is " + 21)

TypeError: ignored

In [ ]:
#You can get around this by turning the element into a string. 

print("David is " + str(21))

David is 21

In [ ]:
#You can also combine variables with a comma. For example:

x = 21
a = "David" 
print(a, "is", x)

David is 21

In [ ]:
#if you did this with concatenation, you'd have to turn x into a string, for example:

print(a + " is " + str(x))

David is 21

## Lists

In [ ]:
'''We make a list the same way we make variables. 
When we make a list, we use open and close square brackets []. Python will know you're making a list when it sees this. 
For example: '''

coworkers = ["Jim", "Dwight", "Michael", "Pam", "Kevin"]

In [ ]:
#You can put any data type into a list (strings, integers, booleans, etc).
#We can make this list below and python will accept it.

whatever = ["David", 1234, False]

In [ ]:
#Let's go back to the original list we made and work on it. print(coworkers) will print the list.

print(coworkers)

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin']

In [ ]:
'''We can access specific elements through indexing.
Each element in the list has a specific index and they start from 0. 
Lets say we want to get Jim from the list.'''

print(coworkers[0])

Jim

In [ ]:
#The code below will give us Michael

print(coworkers[2])

Michael

In [ ]:
'''You can also access elements backwards through negative indexing.
When we perform negative indexing, we start from -1, not 0.'''

print(coworkers[-1])

Kevin

In [ ]:
#if you want Pam you can do 

print(coworkers[-2])

Pam

In [ ]:
#for reference
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin']

In [ ]:
'''Another way we can access elements is through slicing. We can achieve this by using a colon (:). 
There is a special case we MUST make note of when slicing lists, the index number we put after the colon.  
When slicing, python will grab all the elements up to but NOT including the index after the colon.
For example: '''

print(coworkers[1:4])

#The statement above grabbed index 1, 2, and 3, but not 4.

['Dwight', 'Michael', 'Pam']

In [ ]:
#Leaving the number blank before or after the colon means it will get everything. For example:

print(coworkers[:])

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin']

In [ ]:
#Lets say I want to get the last 2 elements of the list, we can do 
#This will get the third element of the list and all of the elements after. 

print(coworkers[3:])

['Pam', 'Kevin']

In [ ]:
print(coworkers[:3])

['Jim', 'Dwight', 'Michael']

In [ ]:
#We can also modify elements in a list. All we'll have to do is access the element and set it equal to whatever you want.
#This works because lists are mutable, which means we can change them.

coworkers[1] = "Oscar" 
print(coworkers)

#Now Dwight was replaced with Oscar in the list.

['Jim', 'Oscar', 'Michael', 'Pam', 'Kevin']

##List functions

In [ ]:
#There are functions already in python that let us do certain things to our lists.
#Let's bring back our coworkers list and make a list of numbers.

numbers = [10, 3, 100, 46, 58, 23]
coworkers = ["Jim", "Dwight", "Michael", "Pam", "Kevin"]

In [ ]:
#One is called the .extend() function which lets you extend a list with another list.

coworkers.extend(numbers)
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin', 10, 3, 100, 46, 58, 23]

In [ ]:
#Another function is .append() which lets you add an individual element to the end of a list.
#We'll run the original coworkers list to get rid of the numbers from the extend function.

coworkers = ["Jim", "Dwight", "Michael", "Pam", "Kevin"]

In [ ]:
#Now lets append it with another coworker
coworkers.append("Andy")
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin', 'Andy']

In [ ]:
#.insert() takes 2 arguments (index, element) and replaces the element at the index position with the element of your choice.
#It doesn't replace the element at the original index, it moves the original element over to a new index position.

coworkers.insert(3, "Kelly")
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Kelly', 'Pam', 'Kevin', 'Andy']

In [ ]:
#.remove() removes the element of your choice. The element you want to remove is the argument.

coworkers.remove("Kevin")
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Kelly', 'Pam', 'Andy']

In [ ]:
#.pop() removes the last element in the list. It can take no arguments or take an index position argument and will remove the element at the index position.

coworkers.pop()
print(coworkers)

coworkers.pop(0)
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Kelly', 'Pam']
['Dwight', 'Michael', 'Kelly', 'Pam']

In [ ]:
#we'll run the original coworkers list again to get our elements back

coworkers = ["Jim", "Dwight", "Michael", "Pam", "Kevin"]

In [ ]:
#.index() tells you the index of the element youâ€™re trying to find in the list. Accepts the element as the argument.

coworkers.index("Dwight")

1

In [ ]:
'''.copy() will copy the list you choose to put before the dot.
Lets make a variable called coworkers2.
When we use .copy(), coworkers2 will have all the same attributes as coworkers since it's a copy.'''

coworkers2 = coworkers.copy()
print(coworkers2)

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin']

In [ ]:
#Let's use the numbers list we made along with the coworkers list for these remaining functions.

#.sort() will sort a list in ascending or alphabetical order. For example:

print(coworkers)
coworkers.sort()
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin']
['Dwight', 'Jim', 'Kevin', 'Michael', 'Pam']

In [ ]:
#Another example

print(numbers)
numbers.sort()
print(numbers)

[10, 3, 100, 46, 58, 23]
[3, 10, 23, 46, 58, 100]

In [ ]:
#.reverse() will reverse the order of the list. For example:

print(coworkers)
coworkers.reverse()
print(coworkers)

['Dwight', 'Jim', 'Kevin', 'Michael', 'Pam']
['Pam', 'Michael', 'Kevin', 'Jim', 'Dwight']

In [ ]:
#Another example

print(numbers)
numbers.reverse()
print(numbers)

[3, 10, 23, 46, 58, 100]
[100, 58, 46, 23, 10, 3]

In [ ]:
#.clear() removes everything from the list

print(coworkers)
coworkers.clear()
print(coworkers)

['Pam', 'Michael', 'Kevin', 'Jim', 'Dwight']
[]

In [ ]:
#Another example

print(numbers)
numbers.clear()
print(numbers)

[100, 58, 46, 23, 10, 3]
[]

##Dictionaries

In [2]:
#Dictionaries are created using curly brackets, semi-colons, and commas
#let's make a dictionary with employees as our key and the amount of clients they sign on in a quarter as the value

sales = {
    "Jim": 8,
    "Dwight": 10,
    "Andy": 2,
    "Pam": 0,
    }

print(sales)

{'Jim': 8, 'Dwight': 10, 'Andy': 2, 'Pam': 0}

In [3]:
#If you want a value from a specific key

print(sales["Jim"])

8

In [4]:
#What if we wanted to remove a key-value pair from our dictionary?

sales.pop('Pam')

#Another way would be to use the del keyword
#del sales['Pam']

print(sales)

{'Jim': 8, 'Dwight': 10, 'Andy': 2}

In [5]:
#What if we wanted to add more key-value pairs to an existing dictionary?
#dict_name[â€˜keyâ€™] = value

sales["Phyllis"] = 6
sales["Stanley"] = 5

print(sales)

{'Jim': 8, 'Dwight': 10, 'Andy': 2, 'Phyllis': 6, 'Stanley': 5}

In [6]:
#Let's say Andy forgot to log 2 of his sales, let's update the dictionary

sales['Andy'] = 4

print(sales)

{'Jim': 8, 'Dwight': 10, 'Andy': 4, 'Phyllis': 6, 'Stanley': 5}

In [7]:
#Another example
#Let's say Dwight increased his sales by 5

# We can assign 15 to Dwight

sales["Dwight"] = 15
print(sales["Dwight"])

15
15

In [8]:
# Let's change Dwight's sales back to 10

sales["Dwight"] = 10

In [ ]:
# We can add 5 to Dwight's original sales value

sales["Dwight"] += 5
print(sales["Dwight"])

In [ ]:
#Method to see all of the keys in your dictionary

sales.keys()

dict_keys(['Jim', 'Dwight', 'Andy', 'Phyllis', 'Stanley'])

In [ ]:
#Method to see all of the values in your dictionary

sales.values()

dict_values([8, 10, 4, 6, 5])

In [ ]:
#.update() method can combine two dictionaries

print(sales)

sales2 = {
    'Karen': 6,
    'Tony': 4,
    'Martin': 3
  }

print(sales2)

sales.update(sales2)
print(sales)

{'Jim': 8, 'Dwight': 15, 'Andy': 4, 'Phyllis': 6, 'Stanley': 5}
{'Karen': 6, 'Tony': 4, 'Martin': 3}
{'Jim': 8, 'Dwight': 15, 'Andy': 4, 'Phyllis': 6, 'Stanley': 5, 'Karen': 6, 'Tony': 4, 'Martin': 3}

In [ ]:
#.copy() method will copy the entire dictionary

dictCopy = sales.copy()

print(dictCopy)

{'Jim': 8, 'Dwight': 15, 'Andy': 4, 'Phyllis': 6, 'Stanley': 5, 'Karen': 6, 'Tony': 4, 'Martin': 3}

In [ ]:
#What if you look for a key that isn't there?

print(sales['Michael'])

KeyError: ignored

In [ ]:
#If you use .get() it'll give you a null value, so you don't have to deal with errors

print(sales.get('Michael'))

None

In [ ]:
#.clear() method will clear the entire dictionary

sales.clear()
print(sales)

{}

##Functions

In [ ]:
def greeting():
  print("Hello, Dundler Mufflin")

greeting()

Hello, Dundler Mufflin

In [ ]:
#Let's talk about arguments

def greeting(name):
    print('Hey', name)

greeting('Michael')

Hey Michael

In [ ]:
#What if you call the function without an argument

greeting()

TypeError: ignored

In [ ]:
#We can give a default value to the argument in the function

def greeting(name = 'Employee'):
    print('Hey', name)

greeting()

Hey Employee

In [ ]:
#We can also have multiple arguments in a function

def staff(name, role):
    print(name, "is", role)

greeting("Michael", "Branch Manager")

Michael is Branch Manager

In [ ]:
#Let's create a function that calculates the area of a triangle

def area(base, height):
    triangle = 0.5 * base * height
    return triangle

area(5, 10)

25.0

In [ ]:
#Let's create a function to find volume 

def volume(length):
  areaVar = area(5, 10)
  volVar = areaVar * length 
  return volVar

print("The volume of the object is", volume(20))

The volume of the object is 500.0

#Thank you for joining our Python Workshop #1