#Lesson 1
###1-1 Comments

In [ ]:
#Single Line Comments
#To make a single-line comment, begin the line with a '#' key
#Doing this will not affect the syntax of your code

#Multi Line Comments or Doc Strings

""" """ or ''' '''
''' To make multi-line comments,
use three quotation marks  
at the start and the end of your notes '''

'''These are useful to show users inputs and outputs of your code, or give assumptions, or inputs for functions. 
It's also useful if other people are working on your code and you want to explain certain lines of code. '''

#1-1 Example- 

  #This is a single line comment

'''This is 
    a multi 
    line comment'''

#Comments will not affect any of the code

'This is \n    a multi \n    line comment'

##1-2 The print function and data types

In [ ]:
'''In order to produce output in Python you must use the print() function. See the example below.'''
print("Hello World")

Hello World

## 1-2-1: Data Type 1- Strings ('str')

In [ ]:
print("Hello World")
#Example 1 is outputing a 'string' or 'str' data.
#Strings usually refer to letters or words.
#Text data MUST be encapsulated with quotations "" or ''

#We may check the 'type' of data using the type() function 

print(type("Hello World"))

#<class 'str'> is outputted as "Hello World" is a string variable

#The following would also be considered strings

print(type("I love AIS"))
print(type("Baruch student's are smart")) #Note: Sometimes you want to use words with apostrophes, so use double quotes instead of a single quotes 
print(type("AIS is the best"))

Hello World
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

##1-2-2: Data Type 2- Integers ('int')

In [ ]:
#Integers refer to counting numbers (i.e 0,1,2...) and negative #numbers (i.e. -3, -2, -1, ) with NO decimals
#They DO NOT need to encapsulated in parenthesees
#Below is an example of a integer

print(55)
print(type(55))
print(-55)
print(type(-55))

55
<class 'int'>
-55
<class 'int'>

##1-2-3: Data Type 3- Floats ('float')

In [ ]:
''' Floats refer to numbers (positve and negative) which contain decimals
Like integers, they DO NOT need to encapsulated in parenthesees '''
print(69.9)
print(type(69.9))
print(24.0)
print(type(24.0))


#Fractions are considered floats REGARDLESS of whether they have a remainder or not
print(-69/9)
print(type(-69/9))

print(30/10)
print(type(30/10))
#Note that if you divide two integers the result will ALWAYS be a FLOAT!

#Remember: any numbers encapsultated in parenthesees ("" or '') are STRINGS
#For example:

print("69.9")
print(type("69.9"))

69.9
<class 'float'>
24.0
<class 'float'>
-7.666666666666667
<class 'float'>
3.0
<class 'float'>
69.9
<class 'str'>

##1-2-4: Data Type 4- Booleans ('bool')

In [ ]:
'''Booleans can either refer to the words True or False
On the compiler, these words will be bolded in blue and 
DO NOT need to be encapsulated in quotation marks

They may also refer to string, integer or float statements that refer to equality or inequality, which may be considered
True or False '''

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
'''We use a "double equal sign" if we want to compare one value (i.e. string, float, integer) against another.
A "single equal sign" is an assignment operator used when we want to assign a value (i.e. string, float, integer)
to a variable. We will discuss variables later.'''

print((1 == 1)) 
print((1 != 1)) #Note: != is refers to 'not equal'
print((2 > 1)) 
print((2.0 <= 3.0))
print(("AIS" == "AS"))

True
False
True
True
False

##1-3 Mathematical Operations

In [ ]:
# (+) Addition

print(1+1)

2

In [ ]:
# (-) Subtraction

print(2-1)

1

In [ ]:
# (/) Division

print(3/2)

1.5

In [ ]:
# (*) Multiplication

print(4*2)

8

In [ ]:
# (%) Modulus (Remainder) - This will divide the two numbers and return the remainder

print(10 % 3)

1

In [ ]:
# (**) Exponent - Two multiplication operators make an exponent operator

print(5**2)

25

##1-4 Variables

In [ ]:
'''
variable = expression

Can be any type (Float, string, int, etc.)

The left side is the variable and the right side is the value we want to assign to the variable.

Rules of variables 
1. Don't make variables keywords (ex. if, else, return, True, etc) You can look up list of python keywords for more examples.

2. Your variable name must be a letter from a-z, A-Z, or an underscore character. (NO numbers in the beginning of your variable name)

3. Make variable names that make sense with what's being assigned to them (ex. BondPrice, CapRate)

4. Variables are case sensitive (Apple is NOT the same as apple)

5. A variable name CANNOT contain spaces 
'''

"\nvariable = expression\n\nCan be any type (Float, string, int, etc.)\n\nThe left side is the variable and the right side is the value we want to assign to the variable.\n\nRules of variables \n1. Don't make variables keywords (ex. if, else, return, True, etc) You can look up list of python keywords for more examples.\n\n2. Your variable name must be a letter from a-z, A-Z, or an underscore character. (NO numbers in the beginning of your variable name)\n\n3. Make variable names that make sense with what's being assigned to them (ex. BondPrice, CapRate)\n\n4. Variables are case sensitive (Apple is NOT the same as apple)\n\n5. A variable name CANNOT contain spaces \n"

In [ ]:
#Examples of variables

stringEx = "string"
print(stringEx)
print(type(stringEx))

string
<class 'str'>

In [ ]:
float_ex = 4.0
print(float_ex)
print(type(float_ex))

4.0
<class 'float'>

In [ ]:
width = 10
length = 5 
area = width * length

print (area)
print(type(area))

50
<class 'int'>

In [ ]:
#You can also redefine variables 

var1 = 3.0
print(var1)

3.0

In [ ]:
var1 = 3.5
print(var1)

3.5

In [ ]:
#We can reassign variables to another data type
#5 is an integer, but lets turn it into a float or a string

#casting variables
example_5 = 5
print(type(example_5))
print(example_5)

<class 'int'>
5

In [ ]:
example_6 = float(example_5)
print(type(example_6))
print(example_6)

<class 'float'>
5.0

In [ ]:
#Another example
alex_turner = 55
print(type(alex_turner))
print(alex_turner)

<class 'int'>
55

In [ ]:
fifty_five = str(alex_turner)
print(type(fifty_five))
print(fifty_five)

<class 'str'>
55

In [ ]:
#You can also do this without variables
print(type(4))
print(type(str(4)))

<class 'int'>
<class 'str'>

In [ ]:
print(type(10.45))
print(type(int(10.45)))

<class 'float'>
<class 'int'>

In [ ]:
#It won't work for some things, like you can't change a string into an integer unless it's a number in the string

print(type(int("David")))

ValueError: ignored

In [ ]:
#This will work because there's a number in the string

print(type(int("55")))

<class 'int'>

##1-5 Input function

In [ ]:
#Input functions allows a user to input information into our program. 
#When we want the user to enter information, we'll tell them what we want them to enter. 
#We can prompt them by writing a string inside of the input function.

input("Enter your first and last name: ")

Enter your first and last name: David Mena

'David Mena'

In [ ]:
#We'll be able take this information, assign it to a variable, and then do something with that variable.

name = input("Enter your first and last name: ")
print("Hey " + name + "!")

Enter your first and last name: David Mena
Hey David Mena!

In [ ]:
'''The print statement above uses concatenation to combine the elements. Concatenation combines strings
together at their ends into a new string and then prints them to your output. This is good when you need to join strings,
likely constructed elsewhere, together.
NOTE: You can only concatenate a string with another string. 
For example, if I want to combine a variable that holds an integer with a string, it will give me an error. '''

print("David is " + 21)

TypeError: ignored

In [ ]:
#You can get around this by turning the element into a string. 

print("David is " + str(21))

David is 21

In [ ]:
#You can also combine variables with a comma. For example:

x = 25
a = "David" 
print(a, "is", x)

David is 25

In [ ]:
#if you did this with concatenation, you'd have to turn x into a string, for example:

print(a + " is " + str(x))

David is 25

##1-6 Lists

In [ ]:
'''If you deal with large amounts of data, you can use lists to manage it. Lists let us store lists of information.
We can take various data values and put them inside of a list which allows us to manage them easier.
We make a list the same way we make variable. Give it a descriptive name that will describe what's in the list. 
When we make a list, we use open and close square brackets []. Python will know you're making a list when it sees this. 
For example: '''

coworkers = ["Jim", "Dwight", "Michael", "Pam", "Kevin"]

In [ ]:
#You can put basically any data type into a list (strings, integers, booleans, etc).
#We can make this list below and python would accept it.

whatever = ["David", 1234, False]

In [ ]:
#Let's go back to the original list we made and work on it. print(coworkers) will print the list.

print(coworkers)

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin']

In [ ]:
'''But what if we wanted to get specific elements of the list? Well, we can access specific elements through indexing.
Each element in the list has a specific index and they start from 0. 
For example, Jim has an index of 0, Dwight has an index of 1, Michael has an index of 2, etc. 
So even though Michael is the third element of the list, it has an index of 2 because we start indexing at 0. 
Therefore, if you want a specific element from the list, you refer to it by its index. Lets say we want to get Jim from the list.'''

print(coworkers[0])

Jim

In [ ]:
#The code below will give us Michael

print(coworkers[2])

Michael

In [ ]:
'''You can also access elements backwards through negative indexing.
When we perform negative indexing, we start from -1, not 0. So if you want Kevin from the list you'll use the index -1 '''

print(coworkers[-1])

Kevin

In [ ]:
#if you want Pam you can do 

print(coworkers[-2])

Pam

In [ ]:
#Another way we can access elements is through slicing. We can achieve this by using a colon (:). 
#Lets say I want to get the last 2 elements of the list, we can do 

print(coworkers[3:])

#This will get the third element of the list and all of the elements after.

['Pam', 'Kevin']

In [ ]:
#Leaving the number blank before or after the colon means it will get everything. For example:

print(coworkers[:])

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin']

In [ ]:
#There is a special case we MUST make note of when slicing lists, the index number we put after the colon. 

print(coworkers[:3])

['Jim', 'Dwight', 'Michael']

In [ ]:
'''As you can see, the last example didn't include Pam even though we put index number 3 when you sliced the list.
This is because when slicing, python will grab all the elements up to but not including the index after the colon.
Here's another example: '''

print(coworkers[1:4])

['Dwight', 'Michael', 'Pam']

In [ ]:
#The statement above grabbed index 1, 2, and 3, but not 4.

In [ ]:
#We can also modify elements in a list. All we'll have to do is access the element and set it equal to whatever you want.
#This works because lists are mutable, which means we can change them.

coworkers[1] = "Oscar" 
print(coworkers)

['Jim', 'Oscar', 'Michael', 'Pam', 'Kevin']

In [ ]:
#Now Dwight was replaced with Oscar in the list.

##1-7 List functions

In [ ]:
#There are functions already in python that let us do certain things to our lists.
#Let's bring back our coworkers list and make a list of numbers.

numbers = [10, 3, 100, 46, 58, 23]
coworkers = ["Jim", "Dwight", "Michael", "Pam", "Kevin"]

In [ ]:
#We'll go over some common functions for lists. 
#One is called the .extend() function which lets you extend a list with another list.

coworkers.extend(numbers)
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin', 10, 3, 100, 46, 58, 23]

In [ ]:
#Another function is .append() which lets you add an individual element to the end of a list.
#We'll run the original coworkers list to get rid of the numbers from the extend function.

coworkers = ["Jim", "Dwight", "Michael", "Pam", "Kevin"]

In [ ]:
#Now lets append it with another coworker
coworkers.append("Andy")
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Pam', 'Kevin', 'Andy']

In [ ]:
#.insert() takes 2 arguments (index, item) and replaces the item at the index position with the item of your choice.
#It doesn't replace the element at the original index, it moves the original element over to a new index position.

coworkers.insert(3, "Kelly")
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Kelly', 'Pam', 'Kevin', 'Andy']

In [ ]:
#.remove() removes the element of your choice. The element you want to remove is the argument.

coworkers.remove("Kevin")
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Kelly', 'Pam', 'Andy']

In [ ]:
#.pop() removes the last element in the list.

coworkers.pop()
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Kelly', 'Pam']

In [ ]:
#.index() tells you the index of the element you’re trying to find in the list. Accepts the element as the argument.

coworkers.index("Dwight")

1

In [ ]:
'''.copy() will copy the list you choose to put before the dot.
Lets make a variable called coworkers2.
When we use .copy(), coworkers2 will have all the same attributes as coworkers since it's a copy.'''

coworkers2 = coworkers.copy()
print(coworkers2)

['Jim', 'Dwight', 'Michael', 'Kelly', 'Pam']

In [ ]:
#Let's use the numbers list we made along with the coworkers list for these remaining functions.

#.sort() will sort list in ascending order or alphabetical. For example:

print(coworkers)
coworkers.sort()
print(coworkers)

['Jim', 'Dwight', 'Michael', 'Kelly', 'Pam']
['Dwight', 'Jim', 'Kelly', 'Michael', 'Pam']

In [ ]:
#Another example

print(numbers)
numbers.sort()
print(numbers)

[10, 3, 100, 46, 58, 23]
[3, 10, 23, 46, 58, 100]

In [ ]:
#.reverse() will reverse the order of the list. For example:

print(coworkers)
coworkers.reverse()
print(coworkers)

['Dwight', 'Jim', 'Kelly', 'Michael', 'Pam']
['Pam', 'Michael', 'Kelly', 'Jim', 'Dwight']

In [ ]:
#Another example

print(numbers)
numbers.reverse()
print(numbers)

[3, 10, 23, 46, 58, 100]
[100, 58, 46, 23, 10, 3]

In [ ]:
#.clear() removes everything from the list

print(coworkers)
coworkers.clear()
print(coworkers)

['Pam', 'Michael', 'Kelly', 'Jim', 'Dwight']
[]

In [ ]:
#Another example

print(numbers)
numbers.clear()
print(numbers)

[100, 58, 46, 23, 10, 3]
[]

In [ ]:
#Those were some basic list functions that help you see how we can manipulate lists in python.

#Thank you for joining our Python Workshop #1
##Please join our next one next Tuesday!!